@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 9%; /* gray-950 */
    --foreground: 240 4.8% 83.9%; /* gray-200 */
    --card: 0 0% 14.9%; /* gray-900 */
    --card-foreground: 240 4.8% 83.9%; /* gray-200 */
    --popover: 240 8% 5.9%; /* gray-950 */
    --popover-foreground: 240 4.8% 83.9%; /* gray-200 */
    --primary: 0 0% 89.8%; /* gray-50 */
    --primary-foreground: 240 5.9% 10%; /* gray-900 */
    --secondary: 240 3.7% 25.9%; /* gray-800 */
    --secondary-foreground: 240 5% 77.8%; /* gray-300 */
    --muted: 240 3.7% 25.9%; /* gray-800 */
    --muted-foreground: 240 4.8% 68.8%; /* gray-400 */
    --accent: 240 3.7% 25.9%; /* gray-800 */
    --accent-foreground: 240 4.8% 95.9%; /* gray-50 */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%; /* gray-800 */
    --input: 240 3.7% 25.9%; /* gray-800 */
    --ring: 240 5% 77.8%; /* gray-300 */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.markdown {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  a {
    @apply text-green-400 underline hover:text-green-500;
  }

  li {
    list-style: disc;
    list-style-position: inside;
  }

  blockquote {
    @apply border-l-2 pl-4 italic text-muted-foreground;
  }

  table {
    @apply border-collapse text-sm border border-border w-full;
  }

  th {
    @apply text-muted-foreground;
  }

  td {
    @apply border border-border text-center;
  }

  tr:nth-child(even) {
    @apply bg-muted;
  }

  pre,
  code {
    @apply bg-muted rounded p-1;
  }
}
